node_modules/
build/
dist/
reports/*.txt
pnp
.pnp.js
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vs/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/
bin
obj
debug.log
src/client/.env
bin
obj
.env
token.json
console-example-internal.log

*.csproj.user
.idea/

wwwroot



# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*